*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body
{
    background-color: #f3e7e7;
    font-family: Arial,Tahoma
}
ul
{
    list-style: none;
    float:right;
    margin-left:2px;
    margin-top: 2px;
}

ul li
{
     border-radius: 50%;
    width :2px;
    height: 2px;
    background-color: #69696b;
    margin: 2px;
}
.left
{
    display:inline;
}
/*start account*/

.acount .person 
{
    display: flex;
    width:300px;
    background-color: #FFF;
    border-radius: 10px 10px;
    margin:30px 10px 10px 80px;
    padding: 10px;
    box-shadow: 4px 4px 3px #e6dadc,
                -4px -4px 3px#e6dadc;  
}
.acount .person:last-of-type
{
    background-color: #09092b;
}
.acount .person .img 
{
    width:30%;
  
}
.acount .person .img img
{
    border-radius: 50%;
    width :60px;
    height: 60px;
    
}
.acount .person  .info
{
    width :70%;
    overflow: hidden;
}
.acount .person  .info h3
{
    color: #b9b8c0;
    margin-bottom: 5px;
    margin-top: 4px;
    
}
.acount .person:last-of-type .info h3
{
    color: #FFF;
}
.acount .person .info p:first-of-type
{
    color: #bdbcc1;
    width: 80px;
    font-size: 10px;
    float: left;
}
.acount .person .info p:last-of-type
{
    color: #bcbbc1;
    font-size: 10px;
    float: right;
}
/*end account*/
/*-----------------------------------------------------*/
/*start profile*/
.profile
{
     margin:30px 10px 10px 80px;
     background-color: #FFF;
     width:300px;
     text-align: center;
     padding: 30px;
     border-radius: 10px 10px;
     box-shadow: 4px 4px 3px #e6dadc,
                -4px -4px 3px#e6dadc;  
    
}
.profile .img 
{
   margin-bottom: 30px;
    text-align: center

}
.profile .img img
{
    width :80px;
    height: 80px;
    border-radius: 50%;
    padding: 3px;
    border: 1px solid #fbffff;
    background-color: #e6f3f9;
}
.profile .name
{
    color:#666672;
}
.profile .info
{
    
    display: flex;
    justify-content: center;
}
.profile .info >div:first-of-type
{
    border-right: 1px solid #ebebeb;
}
.profile .info >div
{
    margin-top: 30px;
    width: 50%;
    color: #cccbd0;
}
.profile .info >div p:first-of-type
{
    font-weight: bold;
    color: #6a696f
}
.profile button
{
    color: #64bad1;
    font-weight: bold;
    background-color: transparent;
    border: 1px solid #5dd1e0;
    border-radius: 10px 10px;
    width: 150px;
    height: 20px;
    margin-top: 30px;
    cursor: pointer;
}
.profile button:hover{
    color:#FFF;
    background: #5dd1e0;
}
/*end profile*/
/*-------------------------------------------------------------------*/

.contact .person
{
    background-color: #fff;
    width: 630px;
    margin:30px 10px 10px 80px;
    border-radius: 10px 10px;
    padding: 10px;
    box-shadow: 4px 4px 3px #e6dadc,
                -4px -4px 3px#e6dadc;
    display: flex;
}
.contact .person .img 
{
    width: 10%;
    margin-right: 25px;
}

.contact .person .img img
{
    border-radius: 50%;
    width :60px;
    height: 60px;
    
}
.contact .person .info

{
    width:90%;
    overflow: hidden;
}
.contact .person .info >div:first-of-type
{
    float:left;
}
.contact .person .info >div:first-of-type h4
{
    margin-bottom: 5px;
    color: #a3a3a5;
}
.contact .person .info >div:first-of-type p
{
    color:#b9b8c0;   
}
.contact .person .info >div:last-of-type
{
    float :right;
    margin-top: 20px;
    overflow: :hidden;
}
.contact .person .info >div:last-of-type button:first-of-type
{
    background-color: transparent;
    border:1px solid #e2e0eb;
    border-radius: 10px 0 0 10px;
    color:#978dc9;
    margin-right: 3px;
    float: left;.
    cursor: pointer;
    box-shadow: .5px .5px #ddddde,
                -.5px -.5px #ddddde;
}

.contact .person .info >div:last-of-type button:last-of-type
{
    background-color: transparent;
    border:1px solid #e2e0eb;
    border-radius: 0 10px 10px 0;
    color:#978dc9;
    margin-right: 8px;
    border-left: .4px solid #ddddde;
    float:left;
    cursor: pointer;
    box-shadow: .5px .5px #ddddde,
                -.5px -.5px #ddddde;
}
.website
{
    margin:30px 500px ;
}